[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "==2.0.12"
frozenlist = "*"
idna = "*"
multidict = "*"
py-cord = "==2.0.0b7"
pycodestyle = "*"
requests = "*"
toml = "*"
urllib3 = "*"
yarl = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
